%section.container
  %h2 Processing
  .content
    We will be expecting
    %strong= @quantity 
    (BTC) from the address
    %strong= @from
    sent to the our address:
    %strong 1KfqvXunmpuFe76upuxzyTByGqnjDeSRTJ 
    , which we will invest and sell for you for a profit.